@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screen;

.bg{
    background-image: url("../public/static/images/landingPage-bg-image.jpg");background-repeat: no-repeat;background-size: cover;background-position: center
}
.min-h-400{
    min-height: 400px;
}
.venueBg{
    background-image: url("../public/static/images/m_a_ansari_bg.jpg");
    /* filter: blur(4px); */
    width: 100%;
    height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{}
.card .photo{

}

.card .black-blur{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.568));
}

.slick-prev , .slick-next {
    color: black!important;
}

.slick-prev{
    left: 0px!important;
    @apply absolute z-50
}

.slick-next{
    right: 0px!important;
    @apply absolute z-50
}

@media screen(md) {
    .h90{
        height:90vh
    }
}